
<div class="card">
    <a href="/item/<%- item._id %>">
        <img class="card-img-top" src="<%- item.imgUrl[0] %>" alt="<%- item.name %> image">
    </a>
    <div class="card-body">
        <h5 class="card-title"><%- item.name %></h5>
        <p class="card-text"><%- item.shortInfo %></p> 
     
        <div class="text-end">
            <a href="/stories/<%- item._id %>/create-story" class="btn btn-outline-primary">
                <%- item.collectedBy.length %>  <i class="fa-solid fa-heart"></i>  
             </a>
        </div>
    </div>      
</div>

