<h1>Your profile</h1>
<% stories.forEach(elem =>{%>
    <div> 
        <a href="item/<%-elem.itemId._id %>">
            <%elem.itemId.imgUrl.forEach (elem =>{%>
                <img src="<%-elem%>" alt="" width="100">
        </a>
       
        <%})%>
    </div>
    
    <div>
        <%- elem.text%>
    </div>

    <div><%- elem.createdBy.username %></div> 
    <div>
        <a href="/stories/delete/<%-elem._id%>">Delete your story</a>
        <a href="/stories/edit/<%-elem._id%>">edit your story</a>
    </div>

<%})%>

<a href="/auth/logout"> Log out </a>
