<div id="profile-container">
    <h2>User Board</h2>
    <div id="profile-info">
        <img src="<%- profile.picUrl %>" alt="Profile Picture" width="150px">
        <h4><%- username %></h4>
        <p>Date of Birth: <%- profile.birth ? profile.birth : "Unclear" %></p>
        <p>Introduction: <%- profile.intro %></p>
        <p>Personal Collection:</p>
        <ul>
            <% stories.forEach(story =>{ %>
                <li>
                    <a href="#<%- story.itemId.name %>"><%- story.itemId.name %></a>
                </li>
            <% }) %>
        </ul>
    </div>
    <% if(isMyProfile) { %>
        <a href="/profile/edit"><button>Edit Profile</button></a>
    <% } %>  
</div>

<div id="profile-stories-list">
<h2><%- isMyProfile ? "My stories" : `${username}'s stories`%></h2>
    <% stories.forEach(story =>{ %>
        <article id="<%- story.itemId.name %>">
            <a href="/item/<%- story.itemId._id %>">
                <img src="<%- story.itemId.imgUrl[0] %>" alt="Item Image" width="100">
            </a>      
            <p><%- story.text %></p>
            <h6>By <%- username %></h6> 
            <% if(isMyProfile) { %>
                <div>
                    <a href="/stories/delete/<%-story._id%>">Delete your story</a>
                    <a href="/stories/edit/<%-story._id%>">edit your story</a>
                </div>
            <% } %>
        </article>
    <% }) %>
    <% if(isMyProfile && stories.length === 0) { %>
        <h4>There is no stories yet. Go to create one!</h4>
        <a href="/nostalgia-lib"><button>Nostalgia Library</button></a>
    <% } %> 
    
</div>

<% if(isMyProfile) { %>
    <a href="/auth/logout"> Log out </a>
<% } %> 
