<h1>List of story</h1>
<% stories.forEach(story =>{%>
    <div> 
        <a href="item/<%-story.itemId._id %>">
            <%story.itemId.imgUrl.forEach (story =>{%>
                <img src="<%-story%>" alt="">
        </a>
       
        <%})%>
    </div>
    
    <div>
        <%- story.text%>
    </div>

    <a href="/profile/<%- story.createdBy._id %>"><%- story.createdBy.username %></a>
    <%})%>