<h1>List of story</h1>
<% stories.forEach(story =>{%>
    <div> 
        <a href="item/<%-story.itemId._id %>">
            <img src="<%- story.itemId.imgUrl[0] %>" alt="item image" width="100">     
        </a>
    </div>
    <h5><%- story.itemId.name %></h5>
    <div>
        <%- story.text %>
    </div>

    <p>By: 
        <a href="/profile/<%- story.createdBy._id %>"><%- story.createdBy.username %></a>
    </p>
<% }) %>